.linear-cont-top {
    background: linear-gradient(to top, rgb(188, 245, 188,), white);
}

.linear-cont-bottom{
    background: linear-gradient(to bottom, rgb(188, 245, 188,), white);
} 

form.form-size{
    width: 70%;
    height: 450px;
    margin: 20px;
}

.textoContacto {
    text-align: center;
}

.tarjetaAsesorPadre {
    @include flex(inherit, inherit, space-evenly, inherit);

    .tarjetaAsesor {
        border: solid black;
        width: 197px;
        color: black;
        text-align: center;
        font-family: $font-gral;

        .imgAsesor {
            width: 185px;
            height: 350px;
        }
    }
}