.imgNormal img {
    height: 30rem;
}

h2.subtituloOferta {
    color: white;
    background-color: black;
    margin-bottom: 0px;
}

.containerOferta {
    @include flex(inherit, center, inherit, inherit);
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;

    .letraOferta {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 22px;
    }
}

.fotoCard {
    width: 100%;
    height: 100%;
}

.letraCard {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bolder;
}

.newArrival1 {
    @include flex(inherit, center, space-evenly, inherit);

    .verMas {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
        color: black;
        font-size: 30px;
    }
}

.newArrival2 {
    @include flex(inherit, center, space-evenly, inherit);
    background-color: black;

    .verMas2 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
        color: white;
        position: relative;
        font-size: 30px;
    }
}