h2.tituloTienda {
    display: flex;
    font-size: 60px;
}

.tituloTienda2 {
    font-size: 45px;
    font-family: $font-sub;
    position: relative;
}

.flexPan {
    @include flex(inherit, inherit, space-evenly, inherit);

    .tarjetaPan {
        text-align: center;
        width: 400px;

        h4.subTarjeta {
            padding: 15px;
            font-family: $font-sub;
            font-weight: bolder;
            font-size: 35px;
        }

        .fontTarjeta {
            font-size: 20px;
            font-family: $font-gral;
            padding: 50px;

            .carritoPan {
                width: 50px;
            }
        }
    }
}

#tiendaContainer {
    @include flex(inherit, inherit, space-evenly, wrap);
    width: 90vw;
    margin: 40px;

    .tarjetaProductos {
        padding: 20px;
        border: solid gray 5px;
        border-radius: 10px;
        background-color: white;
        text-align: center;
        width: 350px;
        height: 375px;
        position: relative;
        margin: 15px;

        .tarjetaImg {
            width: 250px;
            height: 190px;
        }

        .carrito {
            width: 30px;
            position: absolute;
            right: 5px;
            bottom: 5px;
        }

        .precioTarjeta {
            position: absolute;
            left: 7px;
            bottom: 3px;
            background-color: lightgrey;
            padding: 5px;
            border-radius: 10px;
        }
    }
}