h2.tituloTienda {
    display: flex;
    font-size: 60px;

    @include mobile {
        display: none;
    }
}

.tituloTienda2 {
    font-size: 45px;
    font-family: $font-sub;
    position: relative;

    @include mobile {
        font-size: 25px;
    }    
}

.linear {
    background: linear-gradient(to top, rgb(248, 92, 92), rgb(252, 203, 111), rgb(248, 248, 108));
    margin-top: 20px;
    margin-bottom: 20px;
}

.flexPan {
    @include flex(inherit, inherit, space-evenly, inherit);

    .tarjetaPan {
        text-align: center;
        width: 400px;

        @include mobile {
            width: 250px;
        }

        h4.subTarjeta {
            padding: 15px;
            font-family: $font-sub;
            font-weight: bolder;
            font-size: 35px;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            transition-delay: 5ms;

            &:hover {
                transform: translateY(20px);
            }

            @include mobile {
                padding: 15px;
                font-size: 18px;
            }
        }

        .fontTarjeta {
            font-size: 20px;
            font-family: $font-gral;
            padding: 50px;

            @include mobile {
                font-size: 10px;
                padding: 40px;
            }

            .carritoPan {
                width: 50px;
                
                @include mobile {
                    width: 45px;
                }
            }
        }

        img {
            width: 80px;
        }
    }
}

#tiendaContainer {
    @include flex(inherit, inherit, space-evenly, wrap);
    width: 90vw;
    margin: 40px;

    @include mobile {
        display: grid;
        grid-template-columns: 2, 1fr;
        grid-template-rows: 5, 1fr;
        row-gap: 10px;
        column-gap: 10px;
        width: 25vw;
        margin: 15px;
        grid-template-areas: "prod1 prod2" "prod3 prod4" "prod5 prod6" "prod7 prod8" "prod9 prod10";
    }

    .tarjetaProductos {
        padding: 20px;
        border: solid gray 5px;
        border-radius: 10px;
        background: linear-gradient(to top, rgb(255, 221, 159), rgb(253, 206, 255));
        text-align: center;
        width: 350px;
        height: 375px;
        position: relative;
        margin: 15px;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 5ms;
        &:hover {
            transform: translateY(-15px);
        }

        @include tablet {
            width: 280px;
            height: 350px;
            position: relative;
            font-size: 10px;
        
            .tarjetaImg {
                width: 210px;
                height: 150px;

                @include mobile{
                    width: 180px;
                    height: 110px;
                }
            }
            
            .carrito {
                width: 25px;
                position: absolute;
                right: 5px;
                bottom: 5px;
            }
            
            .precioTarjeta {
                position: absolute;
                left: 7px;
                bottom: 3px;
                background-color: lightgrey;
                padding: 5px;
                border-radius: 10px;
                font-size: 12px;
            }
        }

        @include mobile {
            width: 210px;
            height: 290px;
            position: relative;
            font-size: 10px;
        }
    }

    .tarjetaImg {
        width: 250px;
        height: 190px;

        @include mobile {
            width: 150px;
            height: 100px;
        }
    }

    .carrito {
        width: 30px;
        position: absolute;
        right: 5px;
        bottom: 5px;

        @include mobile {
            width: 10px;
            position: absolute;
            right: 2px;
            bottom: 2px;
        }
    }

    .precioTarjeta {
        position: absolute;
        left: 7px;
        bottom: 3px;
        background-color: lightgrey;
        padding: 5px;
        border-radius: 10px;

        @include mobile {
            position: absolute;
            left: 7px;
            bottom: 3px;
            background-color: lightgrey;
            padding: 5px;
            border-radius: 10px;
            font-size: 12px;
        }
    }
}

@include mobile {
  .aclaraciones {
    display: none;
  }
}