#mainService {
    background-color: black;
}

.containerBannerService {
    @include flex(inherit, inherit, center, inherit);

    .bannerService {
        width: 60vw;
        
        @include mobile {
            width: 55vw;
        }
    }
}

.parrafoSer1 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: $font-gral;
    margin-bottom: 10px;
    padding: 15px;

    @include tablet {
        font-size: 30px;
    }

    @include mobile {
        font-size: 15px;
    }
}

.parrafoSer2 {
    background-color: white;
    text-align: center;
    font-size: 40px;
    font-family: $font-gral;
    margin-bottom: 10px;
    padding: 15px;

    @include tablet {
        font-size: 30px;
    }

    @include mobile {
        font-size: 15px;
    }
}

.imgSerCentro {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;

    @include tablet {
        display: none;
    }
}


.videoST {
    width: 100%;
    height: 70rem;

    @include tablet {
        height: 20rem;
    }

    @include mobile {
        height: 10rem;
    }
}
