@mixin flex ($flex-d, $align-i, $justify-c, $wrap){
    display: flex;
    flex-direction: $flex-d;
    align-items: $align-i;
    justify-content: $justify-c;
    flex-wrap: $wrap;
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}