header {
    background-color: lightgrey;
}

header.positionSticky {
    position: sticky;
    top: 0;
    z-index: 100;

    .headerContainer {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 10% 1fr;
        grid-template-rows: 2, 1fr;

        .boxLogo {
            grid-column: 1 / 2;
            grid-row: 1 /2;

            .iconSize {
                height: 100px;
                width: 100px;
            }
        }

        .boxTitulo {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        .boxNav {
            grid-column: 1 / 3;
            grid-row: 2 / 3;

            ul.estiloNav :nth-child(1){
                color: black;
                font-size: 20px;
                font-weight: bolder;
            }
        }
    }
}